---

import Layout from '../layouts/Layout.astro';

---

<Layout title="Welcome to Astro.">
 
<div class="flex flex-col justify-center items-center">
   <h1 class="text-white text-3xl">
    Esta  página no existe...
  </h1>
  <img src="https://media4.giphy.com/media/YyKPbc5OOTSQE/giphy.gif?cid=ecf05e472392wa9f41d03odqqlyazu0rvezahh9q1tbrlz4a&ep=v1_gifs_related&rid=giphy.gif&ct=g" alt="">
</div>
</Layout>
