---
interface Props {
    id: string;
    img: string;
    success: boolean;
    flightNumber: number;
    details: string | null;
   }

  const { id, success, flightNumber, details,img } = Astro.props;
  const successText = success ? 'Exicto' : 'Fracaso';
  
---


<a href="/launches/{{id}}" class= "rounded-lg border shadow-md bg-gray-800 border-gray-700 hover:scale-105 hover:bg-gray-600 transition flex flex-col">
  <picture class ="flex justify-center p-4">
    <img src={img}  class="mb-5 rounded-lg" alt={`pastch for launch ${id}`}>
  </picture>
  <header class="p-4 flex-grow">
    <span class={`
    ${success ? 'bg-green-400 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded-full uppercase tracking-wide text-white' : 'bg-red-400 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded-full uppercase tracking-wide text-white '}
      
    `}>
    {
      successText
    } 
    </span>
    <h2 class="my-2 text-2xl font-bold tracking-tight text-white">
      Flighy #{flightNumber}
    </h2>
    <p class="mb-4 font-light text-gray-400">
  {
    details
      ? details
      : 'No hay detalles para este lanzamiento'
  }
    </p>
</header>
</a>
